body{
    background-image: url(./img/home-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color:black;
    right: 0;
    left: 0;
    top: 0;
    color: white;
    border: 1px white solid;
}
ul{
   width: 100%;
   left: 0;
}
li{
    height: 20px;
    width: 11%;
    float: left;
    padding: 2px;
}